---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
$sans-serif: 'Jua';
$monospace: 'Ubuntu Mono';

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

.utterances {
    max-width: 100% !important;
}